<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="The Great Key West Quest 2015"
	indexPageName="jb.html"

>
  <image imageURL="images/DSCN2411.jpg"
	thumbURL="thumbs/DSCN2411.jpg"
	linkURL="images/DSCN2411.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Pictures/Heroes and Villains/DSCN2411.JPG">
    <title><![CDATA[DSCN2411]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN2412.jpg"
	thumbURL="thumbs/DSCN2412.jpg"
	linkURL="images/DSCN2412.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Pictures/Heroes and Villains/DSCN2412.JPG">
    <title><![CDATA[DSCN2412]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN2413.jpg"
	thumbURL="thumbs/DSCN2413.jpg"
	linkURL="images/DSCN2413.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Pictures/Heroes and Villains/DSCN2413.JPG">
    <title><![CDATA[DSCN2413]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7277.jpg"
	thumbURL="thumbs/IMG_7277.jpg"
	linkURL="images/IMG_7277.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Downloads/Quest/IMG_7277.JPG">
    <title><![CDATA[IMG_7277]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7278.jpg"
	thumbURL="thumbs/IMG_7278.jpg"
	linkURL="images/IMG_7278.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Downloads/Quest/IMG_7278.JPG">
    <title><![CDATA[IMG_7278]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7284.jpg"
	thumbURL="thumbs/IMG_7284.jpg"
	linkURL="images/IMG_7284.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Downloads/Quest/IMG_7284.JPG">
    <title><![CDATA[IMG_7284]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7304.jpg"
	thumbURL="thumbs/IMG_7304.jpg"
	linkURL="images/IMG_7304.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Downloads/Quest/IMG_7304.JPG">
    <title><![CDATA[IMG_7304]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN2429.jpg"
	thumbURL="thumbs/DSCN2429.jpg"
	linkURL="images/DSCN2429.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Pictures/Heroes and Villains/DSCN2429.JPG">
    <title><![CDATA[DSCN2429]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN2414.jpg"
	thumbURL="thumbs/DSCN2414.jpg"
	linkURL="images/DSCN2414.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Pictures/Heroes and Villains/DSCN2414.JPG">
    <title><![CDATA[DSCN2414]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN2415.jpg"
	thumbURL="thumbs/DSCN2415.jpg"
	linkURL="images/DSCN2415.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Pictures/Heroes and Villains/DSCN2415.JPG">
    <title><![CDATA[DSCN2415]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN2416.jpg"
	thumbURL="thumbs/DSCN2416.jpg"
	linkURL="images/DSCN2416.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Pictures/Heroes and Villains/DSCN2416.JPG">
    <title><![CDATA[DSCN2416]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN2417.jpg"
	thumbURL="thumbs/DSCN2417.jpg"
	linkURL="images/DSCN2417.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Pictures/Heroes and Villains/DSCN2417.JPG">
    <title><![CDATA[DSCN2417]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN2427.jpg"
	thumbURL="thumbs/DSCN2427.jpg"
	linkURL="images/DSCN2427.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Pictures/Heroes and Villains/DSCN2427.JPG">
    <title><![CDATA[DSCN2427]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN2421.jpg"
	thumbURL="thumbs/DSCN2421.jpg"
	linkURL="images/DSCN2421.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Pictures/Heroes and Villains/DSCN2421.JPG">
    <title><![CDATA[DSCN2421]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN2422.jpg"
	thumbURL="thumbs/DSCN2422.jpg"
	linkURL="images/DSCN2422.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Pictures/Heroes and Villains/DSCN2422.JPG">
    <title><![CDATA[DSCN2422]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN2423.jpg"
	thumbURL="thumbs/DSCN2423.jpg"
	linkURL="images/DSCN2423.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Pictures/Heroes and Villains/DSCN2423.JPG">
    <title><![CDATA[DSCN2423]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7305.jpg"
	thumbURL="thumbs/IMG_7305.jpg"
	linkURL="images/IMG_7305.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Downloads/Quest/IMG_7305.JPG">
    <title><![CDATA[IMG_7305]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7306.jpg"
	thumbURL="thumbs/IMG_7306.jpg"
	linkURL="images/IMG_7306.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Downloads/Quest/IMG_7306.JPG">
    <title><![CDATA[IMG_7306]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7307.jpg"
	thumbURL="thumbs/IMG_7307.jpg"
	linkURL="images/IMG_7307.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Downloads/Quest/IMG_7307.JPG">
    <title><![CDATA[IMG_7307]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN2425.jpg"
	thumbURL="thumbs/DSCN2425.jpg"
	linkURL="images/DSCN2425.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Pictures/Heroes and Villains/DSCN2425.JPG">
    <title><![CDATA[DSCN2425]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN2428.jpg"
	thumbURL="thumbs/DSCN2428.jpg"
	linkURL="images/DSCN2428.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Pictures/Heroes and Villains/DSCN2428.JPG">
    <title><![CDATA[DSCN2428]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN2424.jpg"
	thumbURL="thumbs/DSCN2424.jpg"
	linkURL="images/DSCN2424.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Pictures/Heroes and Villains/DSCN2424.JPG">
    <title><![CDATA[DSCN2424]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN2430.jpg"
	thumbURL="thumbs/DSCN2430.jpg"
	linkURL="images/DSCN2430.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Pictures/Heroes and Villains/DSCN2430.JPG">
    <title><![CDATA[DSCN2430]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN2431.jpg"
	thumbURL="thumbs/DSCN2431.jpg"
	linkURL="images/DSCN2431.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Pictures/Heroes and Villains/DSCN2431.JPG">
    <title><![CDATA[DSCN2431]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN2434.jpg"
	thumbURL="thumbs/DSCN2434.jpg"
	linkURL="images/DSCN2434.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Pictures/Heroes and Villains/DSCN2434.JPG">
    <title><![CDATA[DSCN2434]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN2437.jpg"
	thumbURL="thumbs/DSCN2437.jpg"
	linkURL="images/DSCN2437.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Pictures/Heroes and Villains/DSCN2437.JPG">
    <title><![CDATA[DSCN2437]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN2418.jpg"
	thumbURL="thumbs/DSCN2418.jpg"
	linkURL="images/DSCN2418.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Pictures/Heroes and Villains/DSCN2418.JPG">
    <title><![CDATA[DSCN2418]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN2420.jpg"
	thumbURL="thumbs/DSCN2420.jpg"
	linkURL="images/DSCN2420.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Pictures/Heroes and Villains/DSCN2420.JPG">
    <title><![CDATA[DSCN2420]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN2426.jpg"
	thumbURL="thumbs/DSCN2426.jpg"
	linkURL="images/DSCN2426.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Pictures/Heroes and Villains/DSCN2426.JPG">
    <title><![CDATA[DSCN2426]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN2438.jpg"
	thumbURL="thumbs/DSCN2438.jpg"
	linkURL="images/DSCN2438.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Pictures/Heroes and Villains/DSCN2438.JPG">
    <title><![CDATA[DSCN2438]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN2445.jpg"
	thumbURL="thumbs/DSCN2445.jpg"
	linkURL="images/DSCN2445.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Pictures/Heroes and Villains/DSCN2445.JPG">
    <title><![CDATA[DSCN2445]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN2448.jpg"
	thumbURL="thumbs/DSCN2448.jpg"
	linkURL="images/DSCN2448.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Pictures/Heroes and Villains/DSCN2448.JPG">
    <title><![CDATA[DSCN2448]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN2451.jpg"
	thumbURL="thumbs/DSCN2451.jpg"
	linkURL="images/DSCN2451.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Pictures/Heroes and Villains/DSCN2451.JPG">
    <title><![CDATA[DSCN2451]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7286.jpg"
	thumbURL="thumbs/IMG_7286.jpg"
	linkURL="images/IMG_7286.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Downloads/Quest/IMG_7286.JPG">
    <title><![CDATA[IMG_7286]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7308.jpg"
	thumbURL="thumbs/IMG_7308.jpg"
	linkURL="images/IMG_7308.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Downloads/Quest/IMG_7308.JPG">
    <title><![CDATA[IMG_7308]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7309.jpg"
	thumbURL="thumbs/IMG_7309.jpg"
	linkURL="images/IMG_7309.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Downloads/Quest/IMG_7309.JPG">
    <title><![CDATA[IMG_7309]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7310.jpg"
	thumbURL="thumbs/IMG_7310.jpg"
	linkURL="images/IMG_7310.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Downloads/Quest/IMG_7310.JPG">
    <title><![CDATA[IMG_7310]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7290.jpg"
	thumbURL="thumbs/IMG_7290.jpg"
	linkURL="images/IMG_7290.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Downloads/Quest/IMG_7290.JPG">
    <title><![CDATA[IMG_7290]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7292.jpg"
	thumbURL="thumbs/IMG_7292.jpg"
	linkURL="images/IMG_7292.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Downloads/Quest/IMG_7292.JPG">
    <title><![CDATA[IMG_7292]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7293.jpg"
	thumbURL="thumbs/IMG_7293.jpg"
	linkURL="images/IMG_7293.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Downloads/Quest/IMG_7293.JPG">
    <title><![CDATA[IMG_7293]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7299.jpg"
	thumbURL="thumbs/IMG_7299.jpg"
	linkURL="images/IMG_7299.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Downloads/Quest/IMG_7299.JPG">
    <title><![CDATA[IMG_7299]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7300.jpg"
	thumbURL="thumbs/IMG_7300.jpg"
	linkURL="images/IMG_7300.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Downloads/Quest/IMG_7300.JPG">
    <title><![CDATA[IMG_7300]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7303.jpg"
	thumbURL="thumbs/IMG_7303.jpg"
	linkURL="images/IMG_7303.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Downloads/Quest/IMG_7303.JPG">
    <title><![CDATA[IMG_7303]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN2459.jpg"
	thumbURL="thumbs/DSCN2459.jpg"
	linkURL="images/DSCN2459.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Pictures/Heroes and Villains/DSCN2459.JPG">
    <title><![CDATA[DSCN2459]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7268.jpg"
	thumbURL="thumbs/IMG_7268.jpg"
	linkURL="images/IMG_7268.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Downloads/Quest/IMG_7268.JPG">
    <title><![CDATA[IMG_7268]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7273.jpg"
	thumbURL="thumbs/IMG_7273.jpg"
	linkURL="images/IMG_7273.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Downloads/Quest/IMG_7273.JPG">
    <title><![CDATA[IMG_7273]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7275.jpg"
	thumbURL="thumbs/IMG_7275.jpg"
	linkURL="images/IMG_7275.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jeffrey/Downloads/Quest/IMG_7275.JPG">
    <title><![CDATA[IMG_7275]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>